@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;  
}

body{
    margin: auto;
    padding: 0;
}

#navbar {
    position: sticky;
    top: 0;
    display: block;
    font-size: 1.2em;
    width: auto;
    margin: 0 auto;
    padding: 2em;
    background:#17EB64;
    color: #4D0F20;

    ul{
        display: flex;
        list-style-type: none;
        float: right;
    }

    .nav-link {
        text-decoration:none;
        list-style:none;
        margin-right: 3em;
    }

    a:visited {
        text-decoration: none;
        color: #4D0F20;
    }

    a:hover{
         background: #E5FDBF;
         border-radius: 4px;
         padding: 0.5em;
    }
    
}

section{
    padding: 2em;
    margin: auto;
    text-align: center;
}

#welcome-section{
 padding: 8em;
 background:#17EB64;
 line-height: 100px;
 color: #E5FDBF;
 font-weight: bold;
    h1{
        font-size: 2.2em;
    }

    p{
        font-size: 30px;
    }
}

#projects{
    padding: 4em 2em 2em 2em;
    margin: auto;
    background: #b076bf;
}

.wrapper{
    width: auto;
    margin: auto;
    }

.wrapper-container{
    margin: auto;
    width: auto;
    padding: 20px;
    text-align: center;
}
    
.project-tile{
    align-items: center;
    display: inline-block;
    width: 26rem;   
    padding: 1.2em;
    transition: transform .2s; 

    img{
        position: inherit;
        display: block;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    h3{
        width: auto;
        font-size: 24px;
        padding: 20px;
        border-radius: 0px 0px 10px 10px;
        background: #E5FDBF;       
        }
}

.project-tile:hover{
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
}

#contact{
    padding: 8em 8em 3em 8em;
    background: #E5FDBF;
    text-align: center;

    img{
        width: 90px;
        height: 90px;
        padding: 1em;
    }
}

footer{
    text-align: center;
    color: #1c0127;
    font-weight: bold;
    background: #E5FDBF;
    margin: auto;
    padding: 2em;
}

@media (max-width:950px) { 

    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-tile{
        width: 30rem;   
    }
}
